html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(191, 249, 249);
  }
a{
    color: rgb(13, 152, 13);
}
h1{
    color: rgb(220, 97, 146);;
    background-color: rgb(134, 202, 134);
}
h2{
    color: rgb(134, 202, 134);
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    background-color: rgb(220, 97, 146);;
}
.background1{
    background-color: rgb(217, 162, 184);;
}
.col{
    padding: 50px;
    flex: 100% ;
}
.row{
    display: flex;
}
img{
    width: 200px;
    height: 200px;
}