html, body {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 210, 235);
  }
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}
.noDisplay{
    display: none;
}
span:hover+img{
    display: block;
}
.centerColor{
    color:rgb(220, 97, 146); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    color:rgb(251, 37, 148);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}
table{
    border-collapse: collapse;
    margin-left: 50px;
    margin-right: 50px; 
}
td, tr, th{
    border: solid;
    border-width: 5px;
    border-color: rgb(200,200,240);
    padding: 20px;
}
td{
    color: rgb(237, 130, 172); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique;
    background-color: rgb(241, 231, 242); 
}
th{
    font-size: larger;
    background-color:  rgb(241, 231, 242); 
    color: rgb(220, 97, 146);
}
h1{
    font-family: 'Papyrus';
    color: rgb(232, 231, 183);
    background-color: rgb(220, 97, 146);
    height: 75px;
}
img{
    width: 300px;
    height: 300px;
    object-fit: contain;
}
.col{
    padding: 10px;
    flex: 20% ;
}
.row{
    display: flex;
}
.rows{
    grid-column: auto;
}
.source{
    font-size: 15px;
    color: rgb(134, 202, 134);
    display: flex;
    justify-content: center;
    align-items: center;
}
.pink{
    color: rgb(237, 130, 172); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
}
.pinkPic{
    color: rgb(253, 69, 143); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: 20px;
    background-image: url("pic15.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
.pic2{
    color: rgb(253, 69, 143); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style:normal;
    font-size: 20px;
    background-image: url("pic15.webp");
    background-repeat: no-repeat;
    background-size: 100%;
}
.col2{
    flex: 50%;
}
.row2{
    display: flex;
}